<footer id="footer" class="footer mt-5">
    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-6 col-md-4 footer-about"><a href="index.html" class="d-flex align-items-center"><img
                        src="/img/logo.png" width="380" alt="" class="img-fluid"></a></div>
            <div class="col-lg-3 col-md-4 footer-links">
                <ul>
                    <li><a routerlink="/about" href="/about">About us</a></li>
                    <li><a routerlink="/whatwedo" href="/whatwedo">What we do</a></li>
                    <li><a routerlink="/servedindustries" href="/servedindustries">Industries We Serve</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 footer-links">
                <ul>
                    <li><a routerlink="/leadership" href="/leadership">Our Leadership</a></li>
                    <li><a routerlink="/contact" href="/contact">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container copyright text-center mt-4">
        <p><span>ALL RIGHTS RESERVED</span></p>
    </div>
</footer>