#footer {
    background-image: url('/img/footer.jpg');
    font-family: "Poppins", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
}

.copyright {
    p {
        letter-spacing: 25px;
    }
}