<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-width container-xl position-relative d-flex align-items-center"><a routerlink="/"
            class="logo d-flex align-items-center me-auto" href="/"><img src="/img/logo.png" alt=""
                class="img-fluid"></a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a routerlink="/about" href="/about-us">About Us</a></li>
                <li><a routerlink="/whatwedo" href="/whatwedo">What we do</a></li>
                <li><a routerlink="/servedindustries" href="/servedindustries">Industries We Serve</a></li>
                <li><a routerlink="/leadership" href="/leadership">Our Leadership</a></li>
                <li><a routerlink="/contact" href="/contact">Contact us</a></li>
            </ul><i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
    </div>
</header>