<div class="content">
    <div class="container">
        <div class="d-flex justify-content-between">
            <h3>WHAT WE DO</h3>
            <p> At Forte Steel, we offer a comprehensive range of steel fabrication services, including:</p>
        </div>

        <section>
            <div class="service-card" *ngFor="let service of services" [class.large-card]="service.id === 1">
                <div class="card-image-wrapper">
                    <img [src]="service.image" [alt]="service.title" class="card-image">
                    <div class="card-overlay"></div>
                </div>
                <div class="card-content">
                    <h3 class="card-title">{{ service.title }}</h3>
                    <p class="card-description">{{ service.description }}</p>
                </div>
            </div>
        </section>
    </div>
</div>