<main class="main">
    <!-- <section id="hero" data-aos="fade-up" data-aos-duration="3000" data-aos-easing="linear"
        class="hero section dark-background aos-init aos-animate"></section> -->

    <app-carousel></app-carousel>

    <section class="about-us">
        <div class="container p-5">
            <div class="row">
                <div class="col-md-4">
                    <h2 data-aos="fade-left" data-aos-duration="3000" class="title aos-init aos-animate">ABOUT US</h2>
                </div>
                <div class="col-md-8">
                    <p data-aos="fade-right" data-aos-duration="3000" class="about-paragraph aos-init aos-animate">
                        Forte Steel was founded with a mission to redefine
                        the standards of steel fabrication. From our humble beginnings to becoming a leading name in the
                        industry, our journey has been built on a foundation of quality, integrity, and customer
                        satisfaction. We combine traditional craftsmanship with cutting-edge technology to deliver
                        superior results for projects of all sizes and complexities. <br><br> Our team of skilled
                        professionals shares a passion for precision and innovation, ensuring that every product we
                        deliver meets the highest standards of excellence. At Forte Steel, we believe in building
                        lasting partnerships through transparent communication, exceptional service, and a shared
                        commitment to success. </p>
                </div>
            </div>
        </div>
    </section>

    <app-mini-whatwedo></app-mini-whatwedo>

    <app-latest-news-carousel></app-latest-news-carousel>

    <app-contact-form></app-contact-form>
    
</main>